/*------------------------- Background ---------------------*/

#heroSectionBackground {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#heroSectionBackground video {
    width: 100vw;
    height: 100vh;
}

/*------------------------- Content -----------------------*/
#heroSectionContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    border-radius: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: "Bevan", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;

    color: var(--secondary-color);
}

#heroSectionContent::before {
    border-radius: 100px;
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--primary-color);
    opacity: 0.8;
    backdrop-filter: blur(30px);
    z-index: -1;
}

#heroOptions button {
    padding: 15px;
    border-radius: 125px;
    background-color: var(--secondary-color);
    backdrop-filter: blur(30px);
    border-color: var(--primary-color);
    transition: all 0.5s;
}

#heroOptions button:hover {
    opacity: 0.8;
}