main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.map-wrapper {
    width: fit-content;
}

#map, canvas {
    max-height: 60vh;
}

.inputs-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

label {
    margin-right: 15px;
    line-height: 32px;
    font-family: "Bevan", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

input {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid var(--secondary-color);
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input:checked {
    border: 6px solid var(--secondary-color);
}

fieldset {
    border: none;
}