<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coloration graphe</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <main>
        <div class="hero-section">
            <div id="heroSectionBackground">
                <video autoplay muted loop>
                    <source src="{{ url_for('static', filename='assets/text_animation.mp4') }}" type="video/mp4">
                </video>
            </div>

            <div id="heroSectionContent">
                <h1 id="heroTitle">Coloration de graphe</h1>
                <div id="heroOptions">
                    <button type="button">Voir cartes déjà existantes</button>
                    <button type="button">Ajouter une carte</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>