<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coloration graphe</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="hero-section">
            <div id="heroSectionBackground">
                <video autoplay muted loop>
                    <source src="{{ url_for('static', filename='assets/text_animation.mp4') }}" type="video/mp4">
                </video>
            </div>

            <div id="heroSectionContent">
                <h1 id="heroTitle">Algorithmes de coloration de graphe</h1>
                <div id="heroOptions">
                    <button type="button" onclick="redirect('/maps')">Voir cartes déjà existantes</button>
                    <button type="button" onclick="redirect('/upload')">Ajouter une carte</button>

                    <script>
                        function redirect(url) {
                            window.location.href = url;
                        }
                    </script>
                </div>
            </div>
        </div>
    </main>
</body>
</html>